<h1>University Name</h1>
<h4>University Admin Name</h4>

<div class="form-group">
    <a class="btn btn-secondary" href="/uniadmin/list" id="list"<i class="fa fa-list-alt"></i> Record Programme</a>
    <a class="btn btn-secondary" href="/uniadmin"><i class="fa fa-list-alt"></i> Review Applications</a>
</div>