<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/main">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/main/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/main/register">Register</a>
      </li>  
    </ul>
  </div>  
</nav>

<div class="form-group col-md-6 " style="margin: auto;margin-bottom: 300px;">

<h3 style="margin-top: 30px;">{{viewTitle}}</h3>
{{# if errors}}
    <section class="errors">
        <ul>
            {{# each errors}}
                <li>{{this.msg}}</li>
            {{/each}}
        </ul>
    </section>
{{/if}}
<form action="/main/login" method="POST" autocomplete="off">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Email">
        <div class="text-danger">
            {{obj.emailError}}</div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" name="password" placeholder="Password">
        <div class="text-danger">
            {{obj.passwordError}}</div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Login</button>
        <a class="btn btn-secondary" href="/main/register"><i class="fa fa-list-alt"></i> Register</a>
    </div>
</form>

</div>

