<h1 style="text-align: center;">Welcome</h1>
<h2 style="text-align: center;">Student Application System </h2>
<h4 style="text-align: center;">University Admin Name</h4>

<div class="form-group">
    <a class="btn btn-secondary" href="/sasadmin/list" id="list" style="margin-top: 50px;"><i class="fa fa-list-alt"></i> Maintain Qualifications</a>
</div>